/* Media Queries for nav */
@media (max-width:768px) {
    .nav {
        display: none;
    }

    .pdf {
        display: none;
    }

    .icontoggle {
        display: inline;
        padding-right: 100px;
    }

    .logo {
        padding-left: 100px;
    }
}

@media (max-width:600px) {
    .logo{
        padding-left: 40px;
    }
    .icontoggle {
        padding-right: 40px;
    }
}

@media (max-width:400px) {
    .logo{
        padding-left: 0px;
    }
    .icontoggle {
        padding-right: 0px;
    }
}


/* Media Queries for sec2 */
@media (max-width: 1024px) {
    .sec2 {
        padding: 40px 120px;
    }

    .content {
        width: 400px;
    }

    .a2 {
        font-size: 48px;
    }

    .a3 {
        font-size: 20px;
    }

    .a4 {
        font-size: 20px;
    }

    .chirag img {
        width: 250px;
    }
}

@media (max-width: 900px) {
    .sec2 {
        padding: 40px 40px;
        flex-direction: column-reverse;
        height: auto;
    }

    .content {
        text-align: center;
        width: 100%;
    }

    .chirag {
        margin-top: 30px;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
    }

    .a2 {
        font-size: 40px;
    }

    .a3 {
        font-size: 18px;
    }

    .a4 {
        font-size: 21px;
    }

    .chirag img {
        width: 300px;
    }

    .btn {
        padding: 10px 25px;
        font-size: 14px;
    }

    .apdf {
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    .sec2 {
        padding: 50px 40px;
        height: auto;
    }

    .content {
        width: 100%;
    }

    .a2 {
        font-size: 36px;
    }

    .a3 {
        font-size: 16px;
    }

    .a4 {
        font-size: 16px;
    }

    .chirag img {
        width: 200px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    .apdf {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .sec2 {
        padding: 20px 40px;
    }


    .a1 {
        font-size: 18px;
    }

    .a2 {
        font-size: 32px;
    }

    .a3 {
        font-size: 14px;
    }

    .a4 {
        font-size: 14px;
    }

    .chirag img {
        width: 200px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 12px;
    }

    .apdf {
        font-size: 12px;
    }
}